pymupdf
streamlit==1.28.1
langchain
langchain-openai==0.2.6
langchain-community
python-docx
qdrant-client
# pysqlite3-binary
# setuptools
supabase
postgrest
langgraph
mcp
beautifulsoup4
fastapi
langchain-google-genai